{% extends 'password_vault/base.html' %}

{% block content %}
<h2>Informations</h2>
<div class="list-infos">
    <label>Site</label>
    <p>{{ password.site_name }}</p>
    <label>Login</label>
    <p>{{ password.login }}</p>
    <label class="password-label">Mot de passe</label>
    <p class="password-value" style="display: inline-block;">
        <span id="password-value">{{ decrypted_password }}</span>
    </p>
    <button id="copy-password-btn" style="display: inline-block;">Copier</button>
    <label>Catégorie</label>
    <p>{% if password.category %}{{ password.category }}{% else %}Non renseignée{% endif %}</p>
</div>
<form method="post" action="{% url 'password_vault:password_delete' password.pk %}">
    {% csrf_token %}
    <button type="submit">Supprimer</button>
</form>

<form method="post" action="{% url 'password_vault:generate_share_link' password.pk %}">
    {% csrf_token %}
    <button type="submit">Générer un lien de partage</button>
</form>

<script>
document.getElementById('copy-password-btn').addEventListener('click', function() {
    const passwordText = document.getElementById('password-value').innerText;
    navigator.clipboard.writeText(passwordText).then(function() {
        alert('Mot de passe copié !');
    }, function(err) {
        alert('Erreur lors de la copie : ' + err);
    });
});
</script>
{% endblock %}
