{% extends 'password_vault/base.html' %}

{% block content %}
<h2>Ajouter un mot de passe</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enregistrer</button>
    <button type="button" id="generate-password-btn">Générer un mot de passe</button>
</form>

<script>
document.getElementById('generate-password-btn').addEventListener('click', function() {
    fetch("{% url 'password_vault:generate_password' %}")
    .then(response => response.json())
    .then(data => {
        const passwordInput = document.querySelector('input[name="password"]');
        passwordInput.value = data.password;
    });
});
</script>
{% endblock %}
