{% extends 'password_vault/base.html' %}

{% block content %}
<h2>Mot de passe partagé</h2>
<div class="list-infos">
    <label>Site:</label> <p>{{ site_name }}</p>
    <label>Login:</label> <p>{{ login }}</p>
    <label>Mot de passe:</label> <p id="shared-link">{{ decrypted_password }}</p>
</div>

<button id="copy-link-shared-btn" style="display: inline-block;">Copier</button>

<script>
document.getElementById('copy-link-shared-btn').addEventListener('click', function() {
    const passwordText = document.getElementById('shared-link').innerText;
    navigator.clipboard.writeText(passwordText).then(function() {
        alert('Mot de passe copié !');
    }, function(err) {
        alert('Erreur lors de la copie : ' + err);
    });
});
</script>
{% endblock %}